Enter a query in natural language.  Some examples:
<ul>
  <li><span class="word">Give me all occurrences of birds from the Jurassic.</span></li>
  <li><span class="word">What are the earliest snails in Spain?</span></li>
</ul>
If the answer is wrong, click [Correct] to teach the system.
<p>
