<script type="text/JavaScript">
<!--
if (typeof String.prototype.startsWith != 'function') {
  String.prototype.startsWith = function (str){
    return this.slice(0, str.length) == str;
  };
}
function toggle(d)
{
  var o=document.getElementById(d);
  o.style.display=(o.style.display=='none')?'block':'none';
};
// cleanAnswer is the one displayed to the user
// answer is the raw text from the csv file
function createRadioElement(name, i, cleanAnswer, answer) {
  var radioHtml = '<div><input type="radio" name="' + name + '" value="' + i + ": " + answer + '"';
  radioHtml += '/>'+cleanAnswer+'</div>';

  var radioFragment = document.createElement('div');
  radioFragment.innerHTML = radioHtml;
  var tmpDiv = document.createElement('div');
  tmpDiv.innerHTML = cleanAnswer.toLowerCase().replace(/\s/g, "");
  //radioFragment.firstChild.firstChild.filterText = cleanAnswer.toLowerCase().replace(/\s/g, "");
  radioFragment.firstChild.firstChild.filterText = tmpDiv.textContent || tmpDiv.innerText;

  return radioFragment.firstChild;
};
function createBrElement() {
  var brFragment = document.createElement('div');
  brFragment.innerHTML = "<br/>";
  return brFragment.firstChild;
};
function cleanAndParseFieldIntoList(s)
{
  var s = s.replace(/\^/g, ",").replace(/;;;/g, ", ");
  return s.split("###");
};
function populateAnswers()
{
  var answers = "${answers}";

  cleanAnswers = cleanAndParseFieldIntoList(answers);
  answers = answers.split("###");

  if (answers.length != cleanAnswers.length) {
    alert("There was a problem with the data. Please report this HIT and enter any answer. You will get paid.");
  }
  var o=document.getElementById("AnswersList");
  o.appendChild(createBrElement());
  for (var i=0,len=cleanAnswers.length; i<len; i++){
    var radio = createRadioElement("Q1Answer", i, cleanAnswers[i], answers[i]);
    o.appendChild(radio);
  }
};
window.onload = populateAnswers;
function filterAnswers()
{
  var tb = document.getElementById("typeahead");
  var val = tb.value.toLowerCase().replace(/\s|\^/g, "");
  var o=document.getElementById("AnswersList");
  var children = o.getElementsByTagName("div");
  var nVisible = 0;
  var lastVisible = null;
  for (var i=0; i<children.length; i++) {
    var d = children[i]; //div
    var input = d.childNodes[0];
    var value = input.filterText;
    if (value.indexOf(val) != -1) {
      d.style.display='block';
      nVisible += 1;
      lastVisible = input;
    } else {
      d.style.display='none';
    }
  }
  if (nVisible == 1) { // auto-select the only remaining answer
    lastVisible.checked = "yes";
  }
  //console.log(nVisible);
};
-->
</script>
<p><font size="4"> Please try to&nbsp;answer the following multiple choice question using <b><a href="${freebasesearch}" target="_blank">this link</a></b>&nbsp;and only information from this link.</font></p>
<p><font size="3">You may need to <b>SCROLL DOWN</b> the page to find some answers.</font></p>
<p><font size="3">Question: <b>${question}</b> </font></p>
<div class="highlight-box"><font size="3"> <b>Important:</b>
<ul style="margin: 0;">
    <li>Do <b>NOT</b> get the answer from:
    <ul style="margin: 0;">
        <li>the <b>summary paragraph</b> at the top of the page (the paragraph next to the main picture).</li>
        <li>the &quot;<b>Description</b>&quot;&nbsp;field.</li>
    </ul>
    </li>
    <li>Do <b>not</b> use any other resources such as the rest of the Internet or your prior knowledge.</li>
    <li>If the question is not factual or is ambiguous then select &quot;<b>Ambiguous</b>.&quot;</li>
    <li>If you can't find the answer then select &quot;<b>Not on page</b>.&quot;</li>
    <li>If the page is not relevant to the question then select &quot;<b>Irrelevant</b>&quot;.</li>
</ul>
</font></div>
<p><span style="font-size: large;">Type here to filter the answers and select the correct choice below:</span></p>
<p><span style="font-size: large;">&nbsp;</span><input id="typeahead" type="text" onkeyup="filterAnswers()" /></p>
<p id="AnswersList"><input type="radio" name="Q1Answer" value="AMBIGUOUS" />Ambiguous<br />
<input type="radio" name="Q1Answer" value="NOT_ON_PAGE" />Not on page<br />
<input type="radio" name="Q1Answer" value="IRRELEVANT" />Irrelevant<br />
<input type="radio" name="Q1Answer" value="MISSING_ANSWER" />Answer not in this list</p>
<p><a href="javascript:;" onClick="toggle('instructionsDiv');"><b>Further Clarifications and Examples (Click to expand)</b></a></p>
<div id="instructionsDiv" style="display: none">
<ul>
    <li>If there are multiple correct answers (and they aren't grouped together) then just choose one of them.</li>
    <li>If you find yourself reading large paragraphs a lot then you are doing something wrong.</li>
    <li>Ignore the large paragraphs, even if the answer is only in the large paragraph.</li>
    <li><b>Example</b>: &quot;Where did obama&nbsp;go to high school?&quot;
    <ul>
        <li><b>Good Answer:</b>&nbsp;Punahou School</li>
        <li>This answer was found in the &quot;<b>Education</b>&quot; section of&nbsp;<a href="http://www.freebase.com/view/en/barack_obama">http://www.freebase.com/view/en/barack_obama</a>.</li>
    </ul>
    </li>
</ul>
</div>
<p><a href="javascript:;" onClick="toggle('tricksDiv');"><b>Tips for efficiency (Click to expand)</b></a></p>
<div id="tricksDiv" style="display: none">
<ul>
    <li>If the question is ambiguous or subjective then don't bother opening the webpage. Just select &quot;<b>Ambiguous</b>&quot;.</li>
    <li>Find sections that are common to many pages:
    <ul>
        <li>Education</li>
        <li>Spouse (or domestic partner)</li>
        <li>Places lived</li>
        <li>Place of death</li>
        <li>Place of burial</li>
        <li>etc ...</li>
    </ul>
    </li>
    <li>Use the <b>find</b> functionality in your browser to search for these sections: <b>Ctrl+F</b>(Windows) and <b>⌘-F</b> (Mac).</li>
</ul>
</div>
<p>&nbsp;</p>
