<head>
  <script src="sfig/internal/sfig.js"></script>
  <script src="sfig/internal/Graph.js"></script>
  <script src="sfig/internal/RootedTree.js"></script>
  <script src="sfig/internal/seedrandom.js"></script>
  <script src="utils.js"></script>
  <script src="beam-trajectory.js"></script>
</head>
<body onload="prez.run()">
</body>
