<head>
  <title>SEMPRE: Semantic Parsing with Execution</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

<h1>SEMPRE: Semantic Parsing with Execution</h1>

<div class="section">
SEMPRE is a toolkit for training semantic parsers, which map natural language
utterances to denotations (answers) via intermediate logical forms.
Here's an example for querying databases:
<ul>
  <li>Utterance: <i>Which college did Obama go to?</i></li>
  <li>Logical form: <tt>(and (Type University) (Education BarackObama))</tt></li>
  <li>Denotation: <i>Occidental College, Columbia University</i></li>
</ul>
Here's another example for programming via natural language:
<ul>
  <li>Utterance: <i>Compute three plus four.</i></li>
  <li>Logical form: <tt>(call + 3 4)</tt></li>
  <li>Denotation: <i>7</i></li>
</ul>

<p>
SEMPRE has the following functionality:
<ul>
<li>It supports many types of logical forms
(e.g., 
<a href="http://en.wikipedia.org/wiki/Lambda_calculus">lambda calculus</a>,
<a href="http://arxiv.org/pdf/1309.4408.pdf">lambda DCS</a>, 
Java expressions, etc.), so you can choose whichever one suits your task.</li>

<li>It is agnostic to the construction procedure for building logical
forms, which include Combinatory Categorical Grammar (CCG) or something more
simplistic.  You just specify the combination rules in a domain specific
language.  Here's a <a
  href="https://github.com/percyliang/sempre/blob/master/freebase/data/unittest-learn-ccg.grammar">toy subset of CCG</a>.

<li>It supports various online learning algorithms that discriminatively
train a classifier to maximize denotation accuracy.</li>

<li>It comes with a full copy of Freebase (41M entities, 19K properties, 596M assertions),
which has been indexed by
<a href="http://virtuoso.openlinksw.com/dataspace/doc/dav/wiki/Main/">Virtuoso
  SPARQL engine</a>.  This allows you to immediately start executing logical forms on Freebase.</li>
</ul>
</p>
</div>

<div class="section">
  <span class="header">Code</span>
  <p>
  You can download all the code and documentation for SEMPRE from <b><a href="https://github.com/percyliang/sempre">GitHub</a></b>.
    To learn more about the system, walk through our
    <b><a href="https://github.com/percyliang/sempre/blob/master/TUTORIAL.md">tutorial</a></b>.
  </p>
</div>

<div class="section">
  <span class="header">Data</span>

  <p>  
  In our EMNLP 2013 paper, we created a new dataset, <b>WebQuestions</b>, which is released under the
  <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license</a>.
  Here are the 
    <a href="release-emnlp2013/lib/data/webquestions/dataset_11/webquestions.examples.train.json.bz2">train</a> and
    <a href="release-emnlp2013/lib/data/webquestions/dataset_11/webquestions.examples.test.json.bz2">test</a> splits.
  </p>

  <p>
  In addition, we preprocessed the <b>Free917</b> dataset (Cai &amp; Yates, 2013) to work with our system.
  Here are the 
    <a href="release-emnlp2013/data/free917.train.examples.canonicalized.json.bz2">train</a> and
    <a href="release-emnlp2013/data/free917.test.examples.canonicalized.json.bz2">test</a> splits.
  </p>

  <p>
  Both datasets are provided in JSON format. <b>WebQuestions</b> contains 3,778 training examples and 2,032 test examples. <b>Free917</b>
  contains 641 training example and 276 test examples.
  </p>

  <p>
  On <b>WebQuestions</b>, each example contains three fields:
  <ul>
    <li><i>utterance:</i> natural language utterance.</li>
    <li><i>targetValue:</i> The answer provided by AMT workers, given as a list of descriptions.</li>
    <li><i>url:</i> Frebase page where AMT workers found the answer.</li>
  </ul>

  On <b>Free917</b>, each example contains two fields:
  <ul>
    <li><i>utterance:</i> natural language utterance.</li>
    <li><i>targetFormula:</i> Logical form for the utterance (see paper and tutorial).</li>
  </ul>
  </p>

</div>

<div class="section">
  <span class="header">Papers</span>
  <p>
  SEMPRE was used in the papers:
  <blockquote>
  Jonathan Berant, Andrew Chou, Roy Frostig, Percy Liang.
  <a href="http://cs.stanford.edu/~pliang/papers/freebase-emnlp2013.pdf">Semantic Parsing on Freebase from Question-Answer Pairs</a>.
  Empirical Methods in Natural Language Processing (EMNLP), 2013.
  </blockquote>
  <blockquote>
  Jonathan Berant, Percy Liang.
  <a href="http://nlp.stanford.edu/pubs/berant14paraphrasing.pdf">Semantic Parsing via Paraphrasing</a>.
  Association for Computational Linguistics (ACL), 2014. 
  </blockquote>
  </p>
  <p>
  SEMPRE supports lambda DCS logical forms, which is the default one used for querying Freebase:
  <blockquote>
  Percy Liang.
  <a href="http://arxiv.org/pdf/1309.4408v2.pdf">Lambda Dependency-Based Compositional Semantics</a>.
  arXiv report.
  </blockquote>
  </p>
</div>

</body>
