a:link {text-decoration:none}
a:visited {text-decoration:none}
a:active {text-decoration:none}
a:hover {text-decoration:none; color:#990000}
body {max-width:960px}

.active {font-weight:bold}
.inactive {color:gray}

.header {font-weight:bold; color:#990000}
.section {margin:10px}

td {padding:7px}
td div {padding:7px}
td div a {margin-right:7px}

li {margin:6px}
ul {list-style: square}

html { font-family: "Arial" }
